* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

header {
  text-align: center;
}

header > h1 {
  margin: 0;
  padding-top: 20px;
}

.modal {
  display: flex;
  position: fixed;
  flex-direction: column;
  z-index: 1;
  justify-content: center;
  align-content: center;
  width: 100%;
}

.modal > h1 {
  text-align: center;
}

.addEntryButton {
  padding: 5px 10px;
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.addEntryButton > button {
  cursor: pointer;
}

.row {
  display: flex;
}

/* form {
  text-align: center;
} */

.hidden {
  display: none;
}

.background-modal {
  position: fixed;
  background-color: rgba(1, 1, 1, 0.8);
  width: 100%;
  height: 100vh;
}

.modal2 {
  padding: 1rem;
  position: relative;
  width: 50%;
  height: 350px;
  background-color: seashell;
  margin: 10rem auto;
  z-index: 1;
}

.day-select {
  position: absolute;
  left: 1rem;
}

.time-select {
  position: absolute;
  left: 8rem;
}

.text-entry {
  position: absolute;
  left: 1rem;
  bottom: 3rem;
  width: 90%;
  height: 180px;
}

.modal2 > h1 {
  text-align: center;
}

.submit-button {
  position: absolute;
  bottom: 1rem;
  right: 1.7rem;
}

.one-seventh-column {
  flex-basis: calc(100% / 7);
  justify-content: space-around;
  border: black;
  border-style: solid;
  padding: 2rem;
  text-align: center;
  border-radius: 4px;
  margin: 0 1rem;
}

h1 {
  font-family: ;
}

.add-entry-row {
  position: relative;
  text-align: center;
}

.open-button {
  margin-top: 100px;
  border-color: black;
  border-style: solid;
  background-color: white;
  font-size: 20px;
}

.day-container {
  margin-top: 50px;
}

.table-container {
  display: flex;
  justify-content: center;
}

.table {
  display: flex;
  justify-content: center;
  width: 80%;
}

.time {
  padding-right: 20px;
  text-align: left;
}

table {
  margin-top: 30px;
  width: 100%;
  border: 1px solid rgb(0, 0, 0);
}

th {
  text-align: left;
  background-color: rgb(179, 179, 179);
}

tbody > tr:nth-child(odd) {
  background-color: lightgray;
}
